In [32]:
import pandas as pd
from string import ascii_uppercase as alf
import pickle

In [2]:
tablas = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [12]:
# A -> H
# 11 -> 7*8 +11 = 67
tablas[12]
tablas[19]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,England,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Iran,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,United States,0,0,0,0,0,0,0,0,NaN
3,4,Wales,0,0,0,0,0,0,0,0,NaN

In [27]:
alf

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [22]:
tablas[19].columns[1]

'Teamvte'

In [29]:
tablas = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_tablas = {}
for letter, i in zip(alf, range(12, 68, 7)):
    df = tablas[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tablas[f'Grupo {letter}'] = df

In [30]:
dict_tablas.keys()

dict_keys(['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D', 'Grupo E', 'Grupo F', 'Grupo G', 'Grupo H'])

In [31]:
dict_tablas['Grupo A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [33]:
with open('dic_table', 'wb') as output:
    pickle.dump(dict_tablas, output)